<ion-header>
  <ion-toolbar>
    <ion-title>
   <ion-icon (click)="CloseModal()" class="Cancel" name="close-circle"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Mother">
    <h1>Add a Reclaimer</h1><br>
    <div class="itemDiv">
      <ion-item>
        <ion-icon name="person"></ion-icon>
        <ion-input placeholder="Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="person"></ion-icon>
        <ion-input placeholder="Surname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="call"></ion-icon>
        <ion-input placeholder="Phone Number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="pin"></ion-icon>
        <ion-input placeholder="Address"></ion-input>
      </ion-item>
    </div>
    <div class="theButton">

    </div>
  </div>


</ion-content>

<!--   
  <ion-button (click)="CloseModal()">close</ion-button>
  
  
  name<input type="text"   [(ngModel)]="reclaimer.name" ><br>
  
  surname<input  type="text"  [(ngModel)]="reclaimer.surname"><br>
  
  contact<input  type="number"  [(ngModel)]="reclaimer.contact"><br>
  
  address<input  type="text"   [(ngModel)]="reclaimer.address"><br>
  
  <button (click)="Addreclaimer()" type="submit" color="light" size="small">
    submit
  </button> -->