.Mother{
    background:#44474D;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.itemDiv{
    // background: purpl e;
    height: 80%;
    width: 50%;
}

ion-item{
    border: solid 2px purple;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.308);

}

.theButton{
    border: purple solid 2px;

}

.Cancel{
    color: purple;
    margin-left: 95%;
    font-size: 150%;
}

h1{
    text-align: center;
    color: white;
}