<ion-content>
    <div class="header">
      <div class="nav">
        <h2>My Dashboard</h2>
        <p>You are at " Home "</p>
      </div>
      <div class="profiles">
        <div class="image">
          <img src="../../assets/face.png">
        </div>
        <div class="names">
          <H4>Nkosinathi Radebe</H4>
          <P>Administrator</P>
        </div>
      </div>
      <div class="logout">
        <ion-icon name="log-out"></ion-icon>
      </div>
    </div>
    <div class="Everything">
  
      <div class="AddUser">
  
        <div class="wavey">
          <img id="img" src="../../assets/Group4@2x.png" alt="">
          <h1 id="H1">Your Receipt History</h1>
        </div> <br>
        <div class="Items">
          <div id="Socialcards">
            <ion-card>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img id="face" src="../../assets/face.png">
                </ion-thumbnail>
                <ion-label>
                  <!-- <h2>{{profile.name}} {{profile.surname}}</h2>
                  <p>{{profile.name}} {{profile.surname}}</p> -->
                </ion-label>
                <ion-icon id="Icon5" name="trash"></ion-icon>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img id="face" src="../../assets/face.png">
                </ion-thumbnail>
                <ion-label>
                  <h2>Lebogang Thipenyane</h2>
                  <p>Assistant Manager</p>
                </ion-label>
                <ion-icon id="Icon5" name="trash"></ion-icon>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img id="face" src="../../assets/face.png">
                </ion-thumbnail>
                <ion-label>
                  <h2>Lebogang Thipenyane</h2>
                  <p>Assistant Manager</p>
                </ion-label>
                <ion-icon id="Icon5" name="trash"></ion-icon>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img id="face" src="../../assets/face.png">
                </ion-thumbnail>
                <ion-label>
                  <h2>Lebogang Thipenyane</h2>
                  <p>Assistant Manager</p>
                </ion-label>
                <ion-icon id="Icon5" name="trash"></ion-icon>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img id="face" src="../../assets/face.png">
                </ion-thumbnail>
                <ion-label>
                  <h2>Lebogang Thipenyane</h2>
                  <p>Assistant Manager</p>
                </ion-label>
                <ion-icon id="Icon5" name="trash"></ion-icon>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img id="face" src="../../assets/face.png">
                </ion-thumbnail>
                <ion-label>
                  <h2>Lebogang Thipenyane</h2>
                  <p>Assistant Manager</p>
                </ion-label>
                <ion-icon id="Icon5" name="trash"></ion-icon>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img id="face" src="../../assets/face.png">
                </ion-thumbnail>
                <ion-label>
                  <h2>Lebogang Thipenyane</h2>
                  <p>Assistant Manager</p>
                </ion-label>
                <ion-icon id="Icon5" name="trash"></ion-icon>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img id="face" src="../../assets/face.png">
                </ion-thumbnail>
                <ion-label>
                  <h2>Lebogang Thipenyane</h2>
                  <p>Assistant Manager</p>
                </ion-label>
                <ion-icon id="Icon5" name="trash"></ion-icon>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img id="face" src="../../assets/face.png">
                </ion-thumbnail>
                <ion-label>
                  <h2>Lebogang Thipenyane</h2>
                  <p>Assistant Manager</p>
                </ion-label>
                <ion-icon id="Icon5" name="trash"></ion-icon>
              </ion-item>
            </ion-card>
          </div>
        </div>
      </div>
  
      <div class="ViewUser">
        <div class="Wavey2">
          <img id="img2" src="../../assets/Group4@2x.png" alt="">
        </div>
        <div class="Rotation">
          <div class="Text">
        <h2>You Do not have any receipts</h2>
      </div>
      </div>
      </div>
    </div>
  </ion-content>
