<ion-content>
    <div class="header">
      <div class="nav">
        <h2>My Dashboard</h2>
        <p>You are at " Home "</p>
      </div>
      <div class="profiles">
        <div class="image">
          <img src="../../assets/face.png">
        </div>
        <div class="names">
          <H4>Nkosinathi Radebe</H4>
          <P>Administrator</P>
        </div>
      </div>
      <div class="logout">
        <ion-icon name="log-out"></ion-icon>
      </div>
    </div>
    <div class="Everything">
      <div class="AddUser">
        <div class="wavey">
          <img id="img" src="../../assets/icon/Group4@2x.png" alt="">
          <h1 id="H1">Your Reclaimer Receipt History</h1>
        </div> <br>
        <div class="Items">
          <div id="Socialcards">
            <ion-card *ngFor="let myreclaimers of newreclaimer" [routerLink]="['/modalpopup', myreclaimers.id]">
              <ion-item>
                <ion-label>
                  <h2>{{ myreclaimers.reName}} {{ myreclaimers.reSurname }}</h2>
                </ion-label>
                <ion-icon id="Icon5" name="trash"></ion-icon>
              </ion-item>
            </ion-card>
          </div>
        </div>
      </div>

      <div class="AddUser">
        <div class="wavey">
          <img id="img" src="../../assets/icon/Group4@2x.png" alt="">
          <h1 id="H1">Your Outbound Receipt History</h1>
        </div> <br>
        <div class="Items">
          <div id="Socialcards">
            <ion-list *ngFor="let myoutbound of outbound" [routerLink]="['/list', myoutbound.id]">
              <ion-card>
                <ion-item>
                  <ion-label>
                    <h2>{{ myoutbound.outdriverName }} {{ myoutbound.outRegistarionNo }} {{ myoutbound.outovarallmass }}kg</h2>
                  </ion-label>
                  <ion-icon id="Icon5" name="trash"></ion-icon>
                </ion-item>
              </ion-card>
            </ion-list>
          </div>
        </div>
      </div>
  
      <!-- <div class="ViewUser">
        <div class="Wavey2">
          <img id="img2" src="../../assets/icon/Group4@2x.png" alt="">
        </div>
        <div class="Rotation">
          <div class="Text">
        <h2>You Do not have any receipts</h2>
      </div>
      </div>
      </div> -->

    </div>
  </ion-content>
