.Thewave{
    height: 100%;
    width: 100%;
  
}
.ScreenContent{
    background-image: url("../../assets/icon/Web\ 1920\ –\ 1.png");
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;  
    
}

.Card{
    background-color: white;
    border: white solid 5px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    height: 60%;
    width: 60%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border-radius: 10px;
    padding-bottom: 100px;
    overflow: hidden;
    margin-top: 8%;
    flex-direction: row;
    justify-content: center;
    object-fit: cover;
    align-items: center;
}

.CardContent{
    height: 100%;
    width: 70%;
    // background: pink;
    padding: 50px;
    // border: indigo solid 2px;
    
}
.CardContentleft{
    height: 50vh;
    margin: -5px;
    width: 30%;
    background-image: url("../../assets/greeen.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    // border: indigo solid 2px;
}

.TheItems{
    // border: #14A6A5 solid 2px;
    margin-top: 25px;
    border-radius: 50px;
    overflow: hidden;
    // border: solid 2px #561f55;
}

ion-icon{
    font-size: 25px;
    color: rgb(92, 92, 92) ;
}

p{
    font-weight: 100;
    text-align: right;
    color: rgb(92, 92, 92);
}

.TheButton{
    display: flex;
    justify-content: center;
    align-items: center ;
}

ion-button{
    // background: linear-gradient(#85D360, #14A6A5);
    background: linear-gradient(#24A896,#80CC59);
    // border: 2px solid #561f55;
    width: 25vh;
    border-radius: 50px;
    overflow: hidden;
    color: rgb(255, 255, 255);
}

h1{
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    padding-top: -100px;
    color: rgb(92, 92, 92);
}

h2{
    font-size: 18px;
    text-align: center;
    color: rgb(92, 92, 92);
}

.messages{
    color: red;
}

.theITEMS{
    border: #80CC59 solid 2px;
    margin-bottom: 20%;
    border-radius: 50px;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
    
  }

  .labels{
    // border: solid 2px rgb(0, 0, 0);
    // position: relative;
    // left: 250px;
    height:4.9%;
    width: 2.7%;
    border-radius: 50%;
    position: absolute;
    z-index: 100000000000;
    right: 64.4%;
    background: linear-gradient(#24A896,#80CC59);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .Iconnn{
    // height: 100%;
    // width: 50%;
    color: white;
    height: 50%;
  }

  .theplaceholder{
    display: flex;
    height: 45px;
    width: calc(100% - 50px);
    // border: solid 2px red;
    margin-left: 40px;
  }