.MenuList{
   // border: 3px solid green;
    height: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    background: white;
    overflow-y: hidden;
}
ion-menu {
    max-width: 50px !important;
}

.profiles {
    //border: 1px solid blue;
    height: 22%;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
background: white !important;
margin-left: 10%;
H3 {
    color: green;
 //  border: 1px solid red;
}
    .image {
        width: 56%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 150px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        img {
            border-radius: 50%;
            object-fit: cover;
            position: center;
            width: 100%;
            height: 100%;
        }
    }
}
.inner-scroll scroll-y overscroll {
    max-width: 20px !important ;

}

ion-icon{
    color: white;;
}

h1{
    color: white;
    text-align: center;
}

.toolbar-container{
    background: yellowgreen;
}

#one{
    // width: 100%;
    // height: 100%;
    background: red !important;

}

ion-menu {
    height: 100%;
    max-width: 50px !important;
}
.logo {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    height: 20%;
    display: flex;
    justify-content: center;
img {
       width: 80%;
}
 
}
ion-list {
    height: 80% !important;
    // background: chocolate !important;

    a.item-native :hover {
     border:1px rgb(0, 0, 0) !important;
     background: chocolate !important;
    }
ion-label {
    color: rgb(30, 37, 30) !important;
}
    ion-icon {
        color: yellowgreen !important;
    }
}
