<ion-header>
  <ion-toolbar>
    <ion-title>
   <ion-icon [routerLink]="['/history']" class="Cancel" name="close-circle"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let out of ViewOutbound">
    <ion-label>
      Date :
    <span style="font-weight: bold">{{out.date.seconds * 1000}}</span>
  </ion-label><br>
  <ion-label> 
      Name :
    <span style="font-weight: bold">{{ out.DriverName }} </span>
  </ion-label><br>
  </ion-list>
</ion-content>
