<ion-header>
    <ion-toolbar>
      <ion-title>
        <div class="Buttons">
          <div class="PDFButton"><ion-button (click)="downloadPdf()" color="clear" class="PDF">Download PDF</ion-button>
          </div>
          <div class="CancelBtn">
          <ion-icon [routerLink]="['/history']" class="Cancel" name="close-circle"></ion-icon>
        </div>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="Everything" *ngFor="let out of ViewOutbound">
        <div class="Information1">
          <div class="MotherInfo">
          <div class="Info1"> 
            Purchases Per Product Summery
          </div>
          <div class="Info2">
            Date:  {{ out.date }}
          </div>
        </div>
        <div class="FatherInfo">
          <div class="Date">{{ dates }}</div>
        </div>
        </div>
    
        <div class="Heading">
          <h2>Mthombowolwazi</h2>
          <h5>{{ out.DriverName }}</h5>
          <h5>{{ out.RegistarionNumberPlates }}</h5>
          <h5>{{ out.TruckSourcess }}</h5>
          <h5>{{ out.Destination }}</h5>
        </div>
    
        <div class="Information2">
          <div class="Subheads">
            <div class="Sub1">GLASS</div>
            <div class="Sub3">Mass</div>
          </div>
          <div class="Prices">
            <div class="Price1">GH001</div>
              <div class="Price3">{{ out.GH001 }}</div>
          </div>
          <div class="Prices">
            <div class="Price1">NFAL01</div>
            <div class="Price3">{{ out.NFAL01 }}</div>
          </div>
          <div class="Prices">
            <div class="Price1">PAP005</div>
            <div class="Price3">{{ out.PAP005 }}</div>
          </div>
          <div class="Prices">
            <div class="Price1">PAP007</div>
              <div class="Price3">{{ out.PAP007 }}</div>
          </div>
          <div class="Prices">
            <div class="Price1">PAP001</div>
            <div class="Price3">{{ out.PAP001 }}</div>
          </div>
          <div class="Prices">
            <div class="Price1">PAP003</div>
            <div class="Price3">{{ out.PAP003 }}</div>
          </div>
          <div class="Prices">
            <div class="Price1">HD001</div>
            <div class="Price3">{{ out.HD001 }}</div>
          </div>
          <div class="Prices">
            <div class="Price1">LD001</div>
            <div class="Price3">{{ out.LD001 }}</div>
          </div>
          <div class="Prices">
            <div class="Price1">LD003</div>
            <div class="Price3">{{ out.LD003 }}</div>
          </div>
          <div class="Prices">
            <div class="Price1">PET001</div>
            <div class="Price3">{{ out.PET00 }}</div>
          </div>
          <div class="Prices">
            <div class="Price1">PET003</div>
            <div class="Price3">{{ out.PET003 }}</div>
          </div>
          <div class="Prices">
            <div class="Price1">PET005</div>
            <div class="Price3">{{ out.PET005 }}</div>
          </div>
          <div class="Prices">
              <div class="Price1">Overall Mass</div>
              <div class="Price3">{{ out.ovarallMass }}</div>
            </div>
          </div>
      </div>

      <!-- <table>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Savings</th>
        </tr>
        <tr>
          <td>Peter</td>
          <td>Griffin</td>
          <td>$100</td>
        </tr>
        <tr>
          <td>Lois</td>
          <td>Griffin</td>
          <td>$150</td>
        </tr>
        <tr>
          <td>Joe</td>
          <td>Swanson</td>
          <td>$300</td>
        </tr>
        <tr>
          <td>Cleveland</td>
          <td>Brown</td>
          <td>$250</td>
        </tr>
      </table> -->
</ion-content>

