ion-toolbar {
  display: flex;
  justify-content: center;
  align-content: right;
  align-items: flex-end;
//  #button {
     
//   }

}
.AddReclaimer{
    border: solid 2px purple;
    color: purple;
    margin-left: 77%;
  }
.container {
  

   // border: 1px solid red;
    height: 100%;
    background:radial-gradient(circle, rgb(141, 144, 151), #44474D,
    #44474D);
  }
  
  .slideContainer {
  // border: 3px solid rgb(0, 0, 0);
  height: 80%;
  max-width: 80%;
  margin-left: 10%;
  margin-top: 3%;
    
  
   
    ion-slides {
     //background: rgb(209, 20, 193);
      height: 100%;
      width: 100%;
      ion-slide {
      //  margin-top: 20%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);      background: white;
        height: 100%;
        width: 5vh;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        // background: rgb(227, 230, 230);

  .lists {
   // border: 2px solid black;
    height: 100%;
    width: 100%;

    button {
      width: 40%;
      height: 8%;
      font-size: 90%;
      //padding: 3%;
     // margin-top: -2.5%;
      border-radius: 8px;
      background: rgb(82, 12, 82);
      color: white;
      outline: none;
    }
  }
  #title {
    color: rgb(82, 12, 82);
    font-size: 2em;
    border-bottom: 1px solid gray;
  }
        h3 {
         // border: 1px solid red;
         display: flex;
         justify-content: center;
         align-items: center;
          width: 100%;
          height: 10%;
          font-size: 6vw;
        }
        .list {
          border-bottom: 1px solid gray ;      
          height: 20%;
          position: relative;
          margin-top: 2%;
          width: 100%;
          display: flex;
          justify-content: space-between;
  
          .image {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.096);      background: white;
            border-radius: 5px;
            width: 25%;
            margin-left: 1%;
            margin-bottom: 1%;;
            padding-bottom: 2%;
            object-fit: cover;
            img {
              height: 80%;
              width: 100%;
              object-fit: cover;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            }
            p {
             // border: 1px solid red;
              height: 20%;
              position: relative;
              top: -10%;
              text-align: center;
              padding-top: 2%;
              font-size: 80%;
            }
          }
  
          .name {
           // border: 1px solid red;
            width: 16%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
          }
          .name2 {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.096);      background: white;
            // background-color: rgba(17, 128, 17, 0);
            border: solid 2px rgb(82, 12, 82);
            width: 28%;
            height: 40%;
            margin-top: 3.5%;
            border-radius: 35px;
            margin-right: 15px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            p {
              color: rgb(82, 12, 82);
            }
          }
  
          span {
            padding-left: -3%;
          }
          ion-input {
          // border: 1px solid red;
            height: 60%;
            margin-top: 12%;
           
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            
            
          }
  
         
        }

  h3 {
    font-size: 70%;
  }
      .totaly {
       // border: 1px solid red;
          color: white;
          padding-left: 30px;
          font-weight: bold;
          font-size: 70%;
        }
      }
    }
  }/* end of div slideContainer */


  .totals {
    // border: 1px solid green;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

    ion-button {
      width: 30%;
      height: 40%;
      font-size: 90%;
      //padding: 3%;
     // margin-top: -2.5%;
      border-radius: 8px;
      background: rgb(82, 12, 82);
      color: white;
      outline: none;
    }
    h4 {
      border-bottom: 1px solid gray;
      padding: 1%;
      font-size:90%;
      width: 30%;
      margin-right: 5%;
      color: white;

      .total {
        font-size: 2vw;
        color: rgb(255, 255, 255);
        font-weight: bold;
        width: 150px;
        //border: 1px solid blue;
      }
    }
  }


  // The start of add reclaimer
//   .Mother{
//     background:rgb(206, 207, 209);
//     height: 100%;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }


// .itemDiv{
//     // background: purpl e;
//     height: 80%;
//     width: 50%;
// }

ion-item{
    border-bottom: solid 1px purple;
    // margin-bottom: 10px;
    // background-color: rgba(255, 255, 255, 0.308);

}

// .theButton{
//     border: purple solid 2px;

// }

// .Cancel{
//     color: purple;
//     margin-left: 95%;
//     font-size: 150%;
// }

h1{
    text-align: center;
    color: purple;
}