.header {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.123);
background: white !important;
  height: 15%;
display: flex;
  .nav {
   // border: 1px solid blue;
    width: 65%;
    h2 {
      font-size: 2.2em;
      padding-left: 2%;
      font-weight: bolder;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    }
    p {
      color: rgb(56, 54, 54);
      padding-left: 2%;
      font-size: 1.2em;;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
      font-weight: 550;
    }
  }
  .profiles {
   border: 1px solid green;
    width: 25%;
    min-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width:50px;
      height: 50px;
      border-radius: 100px;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .names {
     //background: red !important;
      margin-left: 10px;;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    
     p {
      font-size: 0.9em;
      font-weight: 500;
      letter-spacing: 1px;
     }
    }
  }
  .logout {
    border-left: 3px solid purple;
    height: 65%;
    margin-top: 2%;
    width: 10%;
    //background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-icon {
      font-size: 3em;
    }
  }
}

.container {
  background: rgb(234, 234, 238) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.014);
    border-top-left-radius: 25px;
   height: 85%;
  }
  
  .slideContainer {
   //border: 3px solid rgb(0, 0, 0);
   height: 85%;
   max-width: 80%;
   margin-left: 10%;
  margin-top: 2%;

    ion-slides {
     //background: rgb(209, 20, 193);
      height: 100%;
      width: 100%;
      ion-slide {
      //  margin-top: 20%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);      background: white;
        height: 100%;
        width: 5vh;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        // background: rgb(227, 230, 230);

  .lists {
   // border: 2px solid black;
    height: 100%;
    width: 100%;

    #addpaper {
      margin-top: 0%;
      margin-bottom: 3%;
    }
    button {
      width: 30%;
      height: 8%;
      font-size: 90%;
      //padding: 3%;
      margin-top: 3%;
      border-radius: 8px;
      background: linear-gradient(to right, purple,#6f16e9 );

      color: white;
      outline: none;
    }
    button:hover {
      background: green;
    }
  }
  #title {
    color: rgb(82, 12, 82);
    font-size: 2em;
    border-bottom: 1px solid gray;
  }
        h3 {
         // border: 1px solid red;
         display: flex;
         justify-content: center;
         align-items: center;
          width: 100%;
          height: 7%;
          font-size: 6vw;
        }
        .list {
          border-bottom: 1px solid gray ;      
          height: 20%;
          position: relative;
          margin-top: 2%;
          width: 100%;
          display: flex;
          justify-content: space-between;
  
          .image {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.096);      background: white;
            border-radius: 5px;
            width: 25%;
            margin-left: 1%;
            margin-bottom: 1%;;
            padding-bottom: 2%;
            object-fit: cover;
            img {
              height: 80%;
              width: 100%;
              object-fit: cover;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            }
            p {
              //border: 1px solid red;
              height: 40%;
              position: relative;
              top: -22%;
              text-align: center;
              padding-top: 2%;
              font-size: 0.8rem;
            }
          }
  
          .name {
           // border: 1px solid red;
            width: 16%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
          }
          .name2 {
            // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.096);      background: white;
            // background-color: rgba(17, 128, 17, 0);
            border: solid 1px rgb(82, 12, 82);
            width: 28%;
            height: 40%;
            margin-top: 3.5%;
            border-radius: 35px;
            margin-right: 15px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            p {
              color: rgb(82, 12, 82);
            }
          }
  
          span {
            padding-left: -3%;
          }
          ion-input {
          // border: 1px solid red;
            height: 60%;
            margin-top: 12%;
           
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
          }
        }

  h3 {
    font-size: 70%;
  }
      .totaly {
       // border: 1px solid red;
          color: white;
          padding-left: 30px;
          font-weight: bold;
          font-size: 70%;
        }
      }
    }
  }/* end of div slideContainer */

  .totals {
   // width: 100%;
   // margin-left: 10%;
   //border: 3px solid green;
    height: 12%;
    display: flex;
    justify-content: space-around;;
    align-items: center;
    //margin-top: 1%;
    position: relative;
bottom: 0;
#pdf {
  background: rgb(126, 10, 10) !important;
}
    button {
      //border: 2px solid blue;
      width: 17rem !important;
      height: 60%;
      font-size: 90%;
     padding: 0.4rem !important;
     // margin-top: -2.5%;
      border-radius: 8px;
      background: linear-gradient(to right, purple,#6f16e9 );
      color: white;
      outline: none;
    }
    button:hover {
      background: green;
    }
    h4 {
      border-bottom: 1px solid gray;
      padding: 1%;
      font-size:1.5rem;
      width: 30%;
      margin-right: 5%;
      color: black;
​
      .total {
        font-size: 2vw;
        color: rgb(255, 255, 255);
        font-weight: bold;
        width: 150px;
        //border: 1px solid blue;
      }
    }
  }

ion-item{
    border-bottom: solid 1px purple;

}
h1{
    text-align: center;
    color: purple;
}

#form {
  // width: 80% !important;

 //  border: 2px solid red;;
 .wave {
   height: 30%;
  // border: 2px solid rgb(230, 18, 159);;
   width: 100%;
   position: absolute;
   top: 0;; 
  img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 100%;
  }
h1 {
 // border: 1px solid red;
  color: white;
  font-family: 'lato';
  position: relative;
  top: -80%;
  font-size: 2rem;
}
 }
   .inputs {
 //  border: 1px solid rgb(75, 119, 18) !important;
     height: 70%;
     position: absolute;
     top: 30%;
     width: 100%;
     // margin: 5px;

     form {
      // border: 2px solid blu
       width: 50%;
       margin-left: 25%;
       height: 100%;
       ion-grid {
         height: 21% !important;
        margin-top: 2%;
        border-radius: 50px;
        border: 1.3px solid green;
       padding: 0 !important;
       
      }
      ion-icon {
        //border: 1px solid blue;
        margin-bottom: 5px;
        margin-right: 5px;
        color: rgb(87, 2, 87);
        padding-left: 2% !important;
      }
      ion-item {
      // border: 1px solid green;
       margin-right: 5% !important;
        
      }
      ion-label {
    letter-spacing: 1px;
    color: rgb(48, 44, 44);
      
      }
    
      button {
        width: 60%;
        height: 12%;
    margin-left: 20%;
    margin-top: 5%;
    border-radius: 10px;
    font-family: 'lato';
    font-size: 1rem;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
    background: linear-gradient(to right, purple,#6f16e9 );
    
      }
      .activeInputIcon {
        color:#3880ff;
    }
     }
   }
   ion-input,  ion-select {
 //border: 1px solid green;
     height: 15%;
     width: 90%;
     margin-left: 5%;
     margin-top: 2%;
     border-radius: 50px;
     padding-left: 5% !important;
     ::after {
       text-align: left;
     }
   }
   
   ion-select {
     text-align: left !important;
   //  display: flex;
   //  justify-content: center;
   //  align-content: center;
   //  align-items: center !important;
   }
     }