<ion-header>
    <ion-toolbar>
      <ion-title>profile</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="everything">
      <div class="TheContent">
        <div class="profile">
          <div class="ProPic">
            <img src="../../assets/admin.jpg">
          </div>
          <div class="Name">
            <h1> {{profile.name}} {{profile.surname}}</h1>
          </div>
        </div>
        <div class="InfoItems">
          <div>
          <div class="theITEMS">
            <div class="labels"><img class="Iconnn" src="../../assets/icon/user (3).svg" alt=""></div>
            <div class="theplaceholder">
            <ion-input placeholder="Name" [(ngModel)]="profile.name"></ion-input>
          </div>
          </div><br>
          <div class="theITEMS">
            <div class="labels"><img class="Iconnn" src="../../assets/icon/user (3).svg" alt=""></div>
            <div class="theplaceholder">
            <ion-input placeholder="Surname"  [(ngModel)]="profile.surname"></ion-input>
          </div>
        </div><br>
          <!-- <ion-item class="theItem">
            <ion-label><ion-icon name="body"></ion-icon></ion-label>
            <ion-input placeholder="Role" [(ngModel)]="profile.position"></ion-input>
          </ion-item> -->
          <div class="theITEMS">
            <div class="labels"><img class="Iconnn" src="../../assets/icon/email.svg" alt=""></div>
            <div class="placeholder">
            <ion-input placeholder="Email Address" [(ngModel)]="profile.email"></ion-input>
          </div>
        </div><br>
          <ion-label>is manager?</ion-label>  
        <ion-select placeholder="Select One"  [(ngModel)]="profile.isAdmin">  
          <ion-select-option value="true">true</ion-select-option>  
          <ion-select-option value="false">false</ion-select-option>  
        </ion-select>   
          <div class="theButton">
          <ion-button color="clear" (click)="users()" type="submit">submit</ion-button>
        </div>
  ​
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  