<ion-header>
  <ion-toolbar>
    <ion-title>transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-input type="number" [(ngModel)]="GH001mass">GH001</ion-input>
    <ion-input type="number" [(ngModel)]="NFAL01mass">NFAL01</ion-input>
    <ion-input type="number" [(ngModel)]="PAP005mass">PAP005</ion-input>
    <ion-input type="number" [(ngModel)]="PAP007mass">PAP007</ion-input>
    <ion-input type="number" [(ngModel)]="PAP001mass">PAP001</ion-input>
    <ion-input type="number" [(ngModel)]="PAP003mass">PAP003</ion-input>
    <ion-input type="number" [(ngModel)]="HD001mass">HD001</ion-input>
    <ion-input type="number" [(ngModel)]="LD001mass">LD001</ion-input>
    <ion-input type="number" [(ngModel)]="LD003mass">LD003</ion-input>
    <ion-input type="number" [(ngModel)]="PET001mass">PET001</ion-input>
    <ion-input type="number" [(ngModel)]="PET003mass">PET003</ion-input>
    <ion-input type="number" [(ngModel)]="PET005mass">PET005</ion-input>
    <ion-buttons (click)="calculate()">Calculate</ion-buttons>
</ion-content>
