<ion-content>
    <div class="header">
        <div class="nav">
          <h2>My Edit Prices</h2>
          <p>You are at " Edit Price "</p>
        </div>
        <div class="profiles" *ngFor="let item of Newadmin">
          <div class="image">
            <img src="../../assets/face.png">
          </div>
          <div class="names">
            <H4>{{ item.name }}</H4>  
              <P>{{ item.position }}</P>
          </div>
        </div>
        <div class="logout">
          <ion-icon name="log-out"></ion-icon>
        </div>
      </div>


<button (click)="add()" type="submit" color="light" size="small">
    update
    </button>
</ion-content>
