<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    
    <button ion-button>LOGOUT</button>
  </ion-toolbar>
</ion-header> -->

<ion-content> 
   
  <div class="container">
    <div class="halfone" padding>
      <div class="graph">
      </div>
    </div>
  
    <div class="halftwo" padding>
      <div class="users">
          <h5>USERS</h5>
       <h3>1238</h3>
      </div>
  
      <div class="category1"  >
        <div class="alluminium">
          <div class="imagediv"> </div>
         <h5>ALLUMINIUM</h5>
            <!-- <h2>NFAL01 {{ mass.NFAL01 }}</h2> -->
        </div>
        <div class="plastic">
            <div class="imagediv2"> </div>
            <h5>GLASS</h5>
            <!-- <h2>GL001 {{ mass.GL001}}</h2> -->
        </div>
      </div>
  
      <div class="category2">
        <div class="glass">
            <div class="imagediv3"> </div>
            <h5>PAPER</h5>
            <!-- <h2>PAP005 {{ mass.PAP005 }}</h2>
            <h2>PAP007 {{ mass.PAP007 }}</h2>
            <h2>PAP001 {{ mass.PAP001 }}</h2>
            <h2>PAP003 {{ mass.PAP003 }}</h2> -->
        </div>
        <div class="paper">
            <div class="imagediv4"> </div>
            <h5>PLASTIC</h5>
            <!-- <h2>HD001 {{ mass.HD001}}</h2>
            <h2>LD001 {{ mass.LD001}}</h2>
            <h2>LD003 {{ mass.LD003}}</h2>
            <h2>PET005 {{ mass.PET005}}</h2>
            <h2>PET001 {{ mass.PET001}}</h2>
            <h2>PET003 {{ mass.PET003}}</h2> -->
        </div>  
      </div>
    </div>
  </div>
</ion-content>
