<ion-content>
  <div class="header">
    <div class="nav">
      <h2>My Dashboard</h2>
      <p>You are at " Home "</p>
    </div>

    <div class="profiles">
      <div class="image">
        <img src="../../assets/face.png">
      </div>
      <div class="names">
        <H4>Nkosinathi Radebe</H4>
        <P>Administrator</P>
      </div>
    </div>

    <div class="logout">
      <ion-icon name="log-out"></ion-icon>
    </div>
  </div>



  <div class="Everything">
    <div class="AddUser">
      <div class="profileDiv">
        <img id="IMG" src="../../assets/face.png" alt="">
      </div> <br>
      <div class="Items">
        <ion-item>
          <ion-label>
            <ion-icon name="person"></ion-icon>
          </ion-label>
          <ion-input placeholder="Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="person"></ion-icon>
          </ion-label>
          <ion-input placeholder="Surname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="mail"></ion-icon>
          </ion-label>
          <ion-input placeholder="email Address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="body"></ion-icon>
          </ion-label>
          <ion-input placeholder="Position"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="lock"></ion-icon>
          </ion-label>
          <ion-input placeholder="Password"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="ViewUser">

    </div>
  </div>
</ion-content>