.container {
   
  background: rgb(234, 234, 238) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.014);
    border-top-left-radius: 25px;
   height: 85%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}


.header {
  //border: 1px solid red;
background: white !important;
  height: 15%;
display: flex;
  .nav {
   // border: 1px solid blue;
    width: 65%;
    h2 {
     // border: 1px solid blue;
      font-size: 2.5vw;
      padding-left: 2%;
      font-weight: bolder;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    }
    #titler{
      //border: 1px solid red;
      padding-left: 2%;
      margin-top: -1%;
      font-size: 1.5vw;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
      font-weight: 440;
      color: #7b9200;
    }
  }
  .profiles {
    //border: 1px solid green;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
      // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      height: 4em;
      width: 4em;
      object-fit: cover;

height: auto;
      border-radius: 50%;
      img {
        border-radius: 50%;
        height: auto;
        object-fit: cover;
        width: 4em;
      }
      
    }
    .names {
     //background: red !important;
      margin-left: 10px;;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    h4 {
     // border: 1px solid red;
      font-size: 1.3vw;
    }
     p {
       //border: 1px solid red;
      font-size:  1.1vw;
      font-weight: 500;
      letter-spacing: 1px;
     margin-top: -2%;
     }
    }
  }
  .logout {
    border-left: 3px solid purple;
    height: 65%;
   margin-top: 2%;
    width: 10%;
    //background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-icon {
      font-size: 3vw;
    }
  }
}

.left , .right{
 // border: 1px solid red;
  width: 45%;
  height: 92%;
  border-radius: 15px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.right ::-webkit-sccrollbar{
  display: none;
  overflow-y: scroll;
   }
   .right {
    -ms-overflow-style: none;
   }
.head {
  // border: 1px solid blue;
  height: 30%;
  position: relative;
  img {
   // object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .image {
    #leboo{
      width: 100%;
      margin: 0 auto;
    }
    z-index: 10000000000000 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background: whitesmoke;
width:100px;
height: 100px;
border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%)
    //border-radius: 50%;
  }
}
.inputs {
 //border: 1px solid green;
  height: 70%;
  width: 80%;
  margin-left: 10%;
  ion-grid {
    margin-top: 2%;
    border-radius: 50px;
    border: 1.3px solid green;
   padding: 0 !important;
   
  }
  ion-icon {
    //border: 1px solid blue;
    margin-bottom: 5px;
    margin-right: 5px;
    color: rgb(87, 2, 87);
  }
  ion-item {
  // border: 1px solid green;
   margin-right: 5% !important;
    
  }
  ion-label {
letter-spacing: 1px;
color: rgb(48, 44, 44);
  
  }
  button {
    width: 60%;
    height: 12%;
margin-left: 20%;
margin-top: 5%;
padding: 4%;
border-radius: 10px;
font-family: 'lato';
font-size: 1rem;
font-weight: 500;
color: white;
letter-spacing: 1px;
background: linear-gradient(to right, purple,#6f16e9 );
  }
  .activeInputIcon {
    color:#3880ff;
}
}
h1 {
  text-align: center;
  padding-top: 3%;
  font-family: 'lato';
  color: rgb(167, 155, 155);
 // border: 1px solid red;
}
ion-card {
  //border: 1px solid gray;
  ion-thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
  }
  img {
    object-fit: cover;
    border-radius: 50%;

  }
  #Icon5 {
    color: rgb(199, 9, 9);
  }
}






.TheContent{
  // border: solid 2px rgb(187, 142, 142);
  height: 60%;
  margin-top: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}

.myContainer{
  width: 80%;
    height: 15%;
    border: 1.3px solid green;
    display: flex;
    margin-bottom: 2%;
    border-radius: 100px;;
    overflow: hidden;
}
.ico {
  width: 50px;
    height: 100%;
    text-align: center;
    line-height: 50px;
}
.inp {
  width: calc(100% - 50px);
    height: 112%;
}
#myInput{
width: calc(100% - 9px);
height: calc(100% - 6px);
padding-left: 5px;
overflow: hidden;
border: 0;
}
#ico{
  color: purple;
  font-size: 30px;
  padding-top: 10%;
  padding-left: 10%;
}

#TheButon{
  // background: purple;
}
#disappeaar{
  display: none;
}

#Button {
  width: 100%;
  height: 100%;
margin: 0 !important;
// margin: 5%;
padding: 4%;
border-radius: 10px;
font-family: 'lato';
font-size: 1rem;
font-weight: 500;
color: white;
letter-spacing: 1px;
background: linear-gradient(to right, purple,#6f16e9 );
}


#camera{
  padding-left: 40%;
  padding-top: 40%;
}






















@media screen and (min-width:1024px){

  #theP{
    color: #7b9200;
        padding-left: 2%;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        font-weight: 440;
        position: relative;
        bottom: 5px;
  }


  .TheContent{
    // border: solid 2px rgb(187, 142, 142);
    // height: 60%;
    margin-top: 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
  }
  
  .myContainer{
    width: 80%;
      height: 15%;
      border: 1.3px solid green;
      display: flex;
      margin-bottom: 2%;
      border-radius: 100px;;
      overflow: hidden;
  }
  .ico {
    width: 50px;
      height: 100%;
      text-align: center;
      line-height: 50px;
  }
  .inp {
    width: calc(100% - 50px);
      height: 112%;
  }
  #myInput{
  width: calc(100% - 9px);
  height: calc(100% - 6px);
  padding-left: 5px;
  overflow: hidden;
  border: 0;
  }
  #ico{
    color: purple;
    font-size: 25px;
    padding-top: 8%;
    padding-left: 8%;
  }
  
  
  #Button {
    width: 100%;
    height: 80%;
  margin-top: 10%!important;
  // margin: 5%;
  padding: 4%;
  border-radius: 10px;
  font-family: 'lato';
  font-size: 15px;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
  background: linear-gradient(to right, purple,#6f16e9 );
  }
  



  .container {
  background: rgb(234, 234, 238) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.014);
    border-top-left-radius: 25px;
   height: 85%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.header {
  //border: 1px solid red;
background: white !important;
  height: 15%;
display: flex;
  .nav {
   // border: 1px solid blue;
    width: 65%;
    h2 {
     // border: 1px solid blue;
      font-size: 2.5vw;
      padding-left: 2%;
      font-weight: bolder;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    }
    #theP{
      //border: 1px solid red;
      padding-left: 2%;
      // margin-top: -1%;
      font-size: 1.5vw;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
      font-weight: 440;
      color: #7b9200;
    }
  }
  .profiles {
    //border: 1px solid green;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
      // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      height: 4em;
      width: 4em;
      object-fit: cover;

height: auto;
      border-radius: 50%;
      img {
        border-radius: 50%;
        height: auto;
        object-fit: cover;
        width: 4em;
      }
      
    }
    .names {
     //background: red !important;
      margin-left: 10px;;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    h4 {
     // border: 1px solid red;
      font-size: 1.3vw;
    }
     p {
       //border: 1px solid red;
      font-size:  1.1vw;
      font-weight: 500;
      letter-spacing: 1px;
     margin-top: -2%;
     }
    }
  }
  .logout {
    border-left: 3px solid purple;
    height: 65%;
   margin-top: 2%;
    width: 10%;
    //background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-icon {
      font-size: 3vw;
    }
  }
}

.left , .right{
 // border: 1px solid red;
  width: 45%;
  height: 92%;
  border-radius: 15px;
  position: relative;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.head {
  // border: 1px solid blue;
  height: 30%;
  position: relative;
  img {
   // object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background: whitesmoke;
width:100px;
height: 100px;
border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    //border-radius: 50%;
    // border: 2px solid red;
  }
}
.inputs {
 //border: 1px solid green;
  height: 70%;
  width: 80%;
  margin-left: 10%;
  ion-grid {
    margin-top: 2%;
    border-radius: 50px;
    border: 1.3px solid green;
   padding: 0 !important;
   height: 50px !important;
  }
  ion-icon {
    //border: 1px solid blue;
    margin-bottom: 5px;
    margin-right: 5px;
    color: rgb(87, 2, 87);
  }
  ion-item {
  // border: 1px solid green;
   margin-right: 5% !important;
    
  }
  ion-label {
letter-spacing: 1px;
color: rgb(48, 44, 44);
  
  }
  button {
    width: 60%;
    height: 15%;
margin-left: 20%;
margin-top: 5%;
padding: 4%;
border-radius: 10px;
font-family: 'lato';
font-size: 1rem;
font-weight: 500;
color: white;
letter-spacing: 1px;
background: linear-gradient(to right, purple,#6f16e9 );
  }
  .activeInputIcon {
    color:#3880ff;
}
}
h1 {
  text-align: center;
  padding-top: 3%;
  font-family: 'lato';
  color: rgb(167, 155, 155);
 // border: 1px solid red;
}
ion-card {
  //border: 1px solid gray;
  ion-thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
  }
  img {
    object-fit: cover;
    border-radius: 50%;

  }
  #Icon5 {
    color: rgb(199, 9, 9);
  }
}
  
}













#leboo{
  border: 2px solid red;
  width: 500px !important;
  margin-left: 100px;
}

.myHead{
  width: 100%;
  height: 150px;
  // border: 2px solid red;
  position: relative;
}

#wavey-image-bg {
  width: 100%;
  height: 160px;
}

.circle-thingy{
  width: 100px;
  height: 100px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  overflow: hidden;
  cursor: pointer;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #sthombe-upload {
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    opacity: 0;
    padding: 40px;
  }
  #sthombe-upload:hover{
    opacity: 1;
  }
}
.theInputs{
  width: 100%;
  // height: calc(100% - 150px);
  // border: 2px solid green;
  margin-top: 60px;
}
.user-inputs{
  height: 40px;
  width: 100%;
  width: calc(100% - 50px);
  margin: 10px auto;
  border: 1px solid green;
  // padding: 5px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;

}
.user-inputs > div {
  height: 100%;
  // border: 2px solid black;
}
.user-inputs > div:nth-child(1){
  width: 40px;
  text-align: center;
  line-height: 45px;
  font-size: 25px;
}
.user-inputs > div:nth-child(2){
  width: calc(100% - 40px);
  input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border: 0
  }
}
.user-input-button{
  height: 40px;
  width: 100%;
  width: calc(100% - 50px);
  margin: 10px auto;
  // border: 2px solid red;
  // padding: 5px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
}

#user-button {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  background: linear-gradient(to right, purple,#6f16e9 );
  color: white;
  font-family: 'lato';
}
.left {
  overflow-y: scroll;
}

#sthombe {
  display: none;
}

#user-icon{
  color: grey;
}

#theP{
  color: #7b9200;
      padding-left: 2%;
      font-size: 15px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
      font-weight: 440;
      margin-top: -5px;
}


