<ion-content>
    <div class="header">
      <div class="nav">
        <h2>My Dashboard</h2>
        <p>You are at " Manage Users ". Register new Administrators here.</p>
      </div>
      <div class="profiles" *ngFor="let item of Newadmin">
        <div class="image">
          <img src="../../assets/admin.jpg">
        </div>
        <div class="names">
            <H4>{{ item.name }}</H4>  
            <P>{{ item.position }}</P>
        </div>
      </div>
      <div class="logout">
        <ion-icon name="log-out" style="color:black"></ion-icon>
      </div>
    </div>

  <div class="container">
    <div class="left">
      <div class="head">
        <img src="../../assets/wavy.png">
        <div class="image"></div>
      </div>
      <div class="inputs">

        <ion-grid >
          <ion-row align-items-end >
            <ion-col size="1" align-self-bottom>
              <ion-icon  name="ios-person" size="large" [ngClass]="{'activeInputIcon': isLabelActive, 'inactiveInputIcon': !isLabelActive}"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Full Names</ion-label>
                <ion-input (ionBlur)="toggleIcon($event)" (ionFocus)="toggleIcon($event)"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>


          <ion-grid >
              <ion-row align-items-end >
                <ion-col size="1" align-self-bottom>
                  <ion-icon class="activeInputIcon" name="ios-briefcase" size="large" [ngClass]="{'activeInputIcon': isLabelActive, 'inactiveInputIcon': !isLabelActive}"></ion-icon>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label position="floating">Position</ion-label>
                    <ion-input (ionBlur)="toggleIcon($event)" (ionFocus)="toggleIcon($event)"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid >
                <ion-row align-items-end >
                  <ion-col size="1" align-self-bottom>
                    <ion-icon name="ios-mail" size="large" [ngClass]="{'activeInputIcon': isLabelActive, 'inactiveInputIcon': !isLabelActive}"></ion-icon>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-label position="floating">Email</ion-label>
                      <ion-input (ionBlur)="toggleIcon($event)" (ionFocus)="toggleIcon($event)"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <ion-grid style="border: 1.3px solid green">
                  <ion-row align-items-end >
                    <ion-col size="1" align-self-bottom>
                      <ion-icon name="ios-lock" size="large" [ngClass]="{'activeInputIcon': isLabelActive, 'inactiveInputIcon': !isLabelActive}"></ion-icon>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-label position="floating">Password</ion-label>
                        <ion-input (ionBlur)="toggleIcon($event)" (ionFocus)="toggleIcon($event)"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <button ion-button>REGISTER MEMBER</button>
      </div>
    </div>

    <div class="right" style="overflow: auto;">
      <h1>All Your Registered Administrators</h1>
      <ion-card *ngFor = "let myprofiles  of newuserprofile">
          <ion-item >
            <ion-thumbnail slot="start">
              <img id="face" src="../../assets/face.png">
            </ion-thumbnail>
            <ion-label>
              <h2>{{myprofiles.name}} {{myprofiles.surname}}</h2>
              <p>{{myprofiles.position}}</p>
            </ion-label>
            <ion-icon id="Icon5" name="trash" (click)="delete()"></ion-icon>
          </ion-item>
        </ion-card>
    </div>
  </div>
  </ion-content>
